@use 'true' as *;
@use '../src' as *;

@include describe('animate') {
  @include it('works with no parameters') {
    @include assert {
      @include output {
        @include animate {
          from { opacity: 0; }
          to { opacity: 1; }
        };
      }
      @include contains {
      }
    }
  }

  @include it('works with an animation name') {
    @include assert {
      @include output {
        @include animate(test) {
          from { opacity: 0; }
          to { opacity: 1; }
        };
      }
      @include expect {
        animation: test var(--animation-duration, 0.3s) var(--animation-timing-function, ease-out);

        @keyframes test {
          from { opacity: 0; }
          to { opacity: 1; }
        }
      }
    }
  }
}
