@use 'true' as *;
@use '..' as *;

@include describe('full-width') {
  @include it('works') {
    @include assert {
      @include output {
        @include full-width;
      }
      @include expect {
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
      }
    }
  }
}
