@use 'true' as *;
@use '..' as *;

// Breakpoints
$lg: 1500px;
$md: 1000px;
$sm: 500px;

@include describe('media') {
  @include describe('below mixin') {
    @include it('works with breakpoint variables') {
      @include assert {
        @include output {
          @include below($lg) {
            display: none;
          }
        }
        @include expect {
          @media (max-width: 1499.98px) {
            display: none;
          }
        }
      }
    }

    @include it('works with literal values') {
      @include assert {
        @include output {
          @include below(1280px) {
            display: none;
          }
        }
        @include expect {
          @media (max-width: 1279.98px) {
            display: none;
          }
        }
      }
    }
  }

  @include describe('above mixin') {
    @include it('works with breakpoint variables') {
      @include assert {
        @include output {
          @include above($md) {
            display: none;
          }
        }
        @include expect {
          @media (min-width: 1000px) {
            display: none;
          }
        }
      }
    }

    @include it('works with literal values') {
      @include assert {
        @include output {
          @include above(1280px) {
            display: none;
          }
        }
        @include expect {
          @media (min-width: 1280px) {
            display: none;
          }
        }
      }
    }
  }

  @include describe('between mixin') {
    @include it('works with breakpoint variables') {
      @include assert {
        @include output {
          @include between($md, $lg) {
            display: none;
          }
        }
        @include expect {
          @media (min-width: 1000px) and (max-width: 1499.98px) {
            display: none;
          }
        }
      }
    }

    @include it('works with literal values') {
      @include assert {
        @include output {
          @include between(768px, 1024px) {
            display: none;
          }
        }
        @include expect {
          @media (min-width: 768px) and (max-width: 1023.98px) {
            display: none;
          }
        }
      }
    }
  }
}
