// Private constants
$-interval: 0.02px;

// Breakpoints
$lg: 1500px !default;
$md: 1000px !default;
$sm: 500px !default;

// Max-width mixins
@mixin max-lg {
  @media (max-width: #{$lg - $-interval}) {
    @content;
  }
}

@mixin max-md {
  @media (max-width: #{$md - $-interval}) {
    @content;
  }
}

@mixin max-sm {
  @media (max-width: #{$sm - $-interval}) {
    @content;
  }
}

// Min-width mixins
@mixin min-lg {
  @media (min-width: #{$lg}) {
    @content;
  }
}

@mixin min-md {
  @media (min-width: #{$md}) {
    @content;
  }
}

@mixin min-sm {
  @media (min-width: #{$sm}) {
    @content;
  }
}
