@use "sass:list";

$transition-property: all !default;
$transition-duration: 0.3s !default;
$transition-timing-function: ease-out !default;

@mixin transition($properties: $transition-property, $args...) {
  $transitions: ();
  $properties: list.join($properties, $args);

  @each $property in $properties {
    $transition: $property $transition-duration $transition-timing-function;
    $transitions: list.append($transitions, $transition, comma);
  }

  transition: $transitions;
}
