@use "sass:list";

$transition-duration: 0.3s !default;
$transition-timing-function: ease-out !default;

@mixin transition($properties: all) {
  $transitions: ();

  @each $property in $properties {
    $transition: $property $transition-duration $transition-timing-function;
    $transitions: list.append($transitions, $transition, comma);
  }

  transition: $transitions;
}
