@use "sass:list";

@mixin transition($properties: all) {
  $duration: var(--transition-duration, 0.3s);
  $timing-function: var(--transition-timing-function, ease-out);

  $transitions: ();

  @each $property in $properties {
    $transition: $property $duration $timing-function;
    $transitions: list.append($transitions, $transition, comma);
  }

  transition: $transitions;
}
