@use "sass:list";

@mixin trim-margin($directions: top bottom) {
  &:first-child {
    @if list.index($directions, top) {
      margin-top: 0;
    }
    @if list.index($directions, left) {
      margin-left: 0;
    }
  }
  
  &:last-child {
    @if list.index($directions, bottom) {
      margin-bottom: 0;
    }
    @if list.index($directions, right) {
      margin-right: 0;
    }
  }
}
